<div class='row-fluid'>
  <div class='span4 offset4'>
    <div class='well'>
      <%= form_tag :action=> "signup" do %>
        <div class='clearfix'>
          <h2>建立帐号</h2>
        </div>
        <div id="flash"><%= render_the_flash.html_safe unless render_the_flash.nil? %></div>
        <div class='clearfix'>用户
          <%= text_field(:user, :login, {:class => 'login', :placeholder => "用户名" })%>
        </div>
        <div class='clearfix'>邮箱
          <%= text_field(:user, :email, {:class => 'login', :placeholder => "邮箱" })%>
        </div>
        <div class='clearfix'>密码
          <%= text_field(:user, :password, {:class => 'login', :placeholder => "密码" })%>
        </div>
        <div class='clearfix'>
          <input type="submit" id="submit" class='btn btn-info' value="注册" />
        </div>
        <div class="clearfix">
          <p>
            <a href="/sessions/login">
              <small>登录</small>
            </a>
            <br/>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
