<!accounts:DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>blog</title>
    <meta http-equiv="imagetoolbar" content="no" />
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link type="text/css" href="/css/bootstrap.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="navbar navbar-inverse" style="position: static;">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".navbar-inverse-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Blog</a>
          <div class="nav-collapse collapse navbar-inverse-collapse">
            <ul class="nav pull-right">
              <li class="divider-vertical"></li>
              <% if session[:user_id] %>
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    欢迎<%= current_user.login %>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="/blog/profile">我的文章</a>
                    </li>
                    <li>
                      <a href="/blog/profile">我的评论</a>
                    </li>
                    <li>
                      <a href="/blog/profile">个人信息</a>
                    </li>
                    <li>
                      <a href="/sessions/logout">退出 »</a>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li>
                  <a href="/sessions/login">登录 »</a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid ">       
        <div class="span12">
          <%= render_the_flash.html_safe unless render_the_flash.nil? %>
          <div class="row-fluid">
            <div class="span7 offset1">
              <%= yield  %>
            </div>
            <div class="span3 offset1">
              <div class="well">
                <a class="btn btn-info" href="/blog/articles/new">新文章</a>
              </div>
              <div class="well">
                <%= form_tag  \
                  :action   => 'index',
                  :remote   => true,
                  :method   => :get,
                  :name     => 'articles',
                  :update   => {:success => 'articleList'} \
                    do %>

                    <tr class='noborder'>
                      <td colspan=5>
                        <span class="input-append">
                          <input id="search" type="text" name="search[searchstring]" class='large' />
                          <%= submit_tag("搜索", {:class => 'btn'}) %>
                        </span>
                      </td>
                    </tr>
                  <%end%>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="text-center">
          <a href="#">Blog</a> is proudly powered by xyuanu
        </footer>
    </body>
  </html>
